@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');/* --------------------------------------------------------pdf page css--------------------------------------------------- */
.pdf-main-section{padding-top:122px;background-color:#E4ECF9;}
.pdf-main-section .box1{position:absolute;width:60px;height:60px;left:60px;top:143px;background:#FEC5D9;border-radius:50%;}
.pdf-main-section .box2{position:absolute;width:45px;height:45px;left:597px;top:362px;border:10px solid #C8FEC4;border-radius:50%;}
.pdf-main-section .text-box h1{font-weight:600;font-size:26px;line-height:124.02%;letter-spacing:0.01em;text-transform:capitalize;color:#000000;margin-bottom:40px;font-family:'Inter',sans-serif;}
.pdf-main-section .text-box p{font-weight:500;font-size:18px;line-height:31px;color:#413F63;font-family:'DM Sans',sans-serif;}
.pdf-main-section .text-box{padding-right:130px;}
.pdf-main-section .content-box{background:#F3F3FE;border:2px solid #FFFFFF;box-shadow:inset -5px -5px 20px #FFFFFF,inset 4px 4px 20px rgba(0,0,0,0.2);border-radius:12px;padding:20px;margin:0 0px -175px 90px;}
.pdf-main-section .content-box ul li{display:flex;margin-top:8px;align-items:center;}
.pdf-main-section .content-box ul li span{font-weight:400;font-size:18px;line-height:20px;color:#7F858A;margin-left:20px;}
.pdf-main-section .content-box .rs{font-weight:500;font-size:18px;line-height:23px;letter-spacing:0.05em;color:#000000;margin-top:15px;}
.pdf-main-section .content-box .rs span span{font-weight:700;font-size:36px;line-height:47px;letter-spacing:0.05em;text-transform:capitalize;color:#FF2C76;padding-right:15px;}
.pdf-main-section .content-box .rs span del{font-weight:500;font-size:18px;line-height:23px;letter-spacing:0.05em;text-decoration-line:line-through;text-transform:uppercase;color:#535353;}
.pdf-main-section .content-box p{font-weight:700;font-size:20px;line-height:26px;color:#FF2C76;padding-top:20px;}
.pdf-main-section .content-box a{background:#FF2C76;box-shadow:-4px -4px 8px #FFFFFF,6px 6px 10px rgba(0,0,0,0.2),inset -2px -2px 10px rgba(0,0,0,0.25),inset 3px 3px 10px rgba(255,255,255,0.3);border-radius:50px;padding:16px 40px;color:#fff;display:block;text-align:center;}
.pdf-main-section .content-box .btn-box{margin-top:30px;}
.pdf-about-book h2{font-weight:400;font-size:36px;line-height:47px;text-transform:capitalize;color:#06042D;margin-bottom:35px;}
.pdf-about-book h2 span{font-weight:bold;}
.pdf-about-book p{font-weight:400;font-size:18px;line-height:32px;color:#7F858A;}
.pdf-about-book ul#tabs-nav{padding:5px;overflow:auto;margin-bottom:60px;}
.pdf-about-book ul#tabs-nav li{float:left;font-weight:bold;margin-right:2px;padding:8px 10px;border-radius:5px 5px 5px 5px;cursor:pointer;}
.pdf-about-book #tabs-nav li a{font-weight:500;font-size:16px;line-height:21px;text-transform:capitalize;color:#3B4753;}
.pdf-about-book .tabs .ul-content li{font-weight:400;font-size:18px;line-height:32px;color:#7F858A;margin-top:5px;position:relative;padding-left:40px;}
.pdf-about-book .tabs .ul-content li:before{position:absolute;content:'';left:0;top:0;width:24px;height:24px;background-image:url(../img/green-mark.png);background-repeat:no-repeat;}
.pdf-about-book .tabs .ul-content{margin-bottom:20px;}
footer{padding-bottom:0;}
@media(min-width:1199px){.container{max-width:1280px;}
}
@media(max-width:1366px){.container{padding-left:24px;padding-right:25px;}
.pdf-main-section .box2{left:440px;}
}
@media(max-width:1299px){/* .container{max-width:1140px;}
*/
}
@media(max-width:992px){.container{max-width:720px;}
.pdf-main-section .box2{left:329px;top:385px;}
.pdf-main-section .text-box{padding-right:0;}
.pdf-main-section .content-box{margin:0 0px -175px 0px;}
.pdf-about-book h2{font-size:31px;}
.col-md-3,.col-md-2{width:100%;margin-bottom:20px;}
}
@media(max-width:776px){.pdf-main-section .box2{display:none;}
.pdf-main-section{padding-top:71px;background-color:#E4ECF9;}
.pdf-main-section .box1{top:97px;}
.pdf-main-section .content-box{margin:0 0px -175px -5px;margin-top:20px;}
.p-70{padding:200px 0 0 0;}
.pdf-about-book ul#tabs-nav li{float:none;}
}
@media(max-width:577px){.pdf-main-section .box1{display:none;}
}
@media(max-width:480px){.pdf-about-book ul#tabs-nav{margin-bottom:23px;}
.pdf-about-book h2{font-size:30px;}
}
