.question{margin-bottom:20px;}
.options{margin-top:10px;}
div#quizModal .modal-dialog{margin:0;max-width:100%;}
div#quizModal .modal-dialog .modal-content{height:100vh;display:flex;align-items:center;justify-content:center;border-radius:0 !important;padding:35px;}
div#quizModal .modal-dialog .modal-content{background:linear-gradient(93.12deg,#F9508B 0%,#D91359 100%);border:0;}
.quiz-container{max-width:700px;}
.question p{font-weight:300;font-size:23px;line-height:29px;color:#0E0D1E;margin-bottom:10px;text-align:center;}
.question{padding:60px 0;}
.question input[type="text"]:focus-visible,.question input[type="text"]:focus{box-shadow:none !important;border:0 !important;background:transparent;color:#fff;border-bottom:1px solid #fff;}
.question input[type="text"]::placeholder{color:#ccc;}
.question input[type="text"],.question select{background:transparent;border:0;padding:20px;box-shadow:none;text-align:center;color:#fff;width:100%;font-size:17px;border-bottom:1px solid #fff;}
.questions{display:none;}
.question.filled + .questions{display:block;}
button.popclose{border:0;position:absolute;top:10px;right:10px;background:transparent;color:#fff;font-size:70px;line-height:30px;}
#bookModal .modal-dialog{max-width:660px;transform:none;}
.modal-content{border-radius:15px;}
.custom-fields label{margin-bottom:6px;color:#7f7f7f;}
.custom-fields input{padding:15px;border-radius:10px;border:1px solid #f0f0f0;background:#f0f0f0;}
.closepop{position:absolute;top:10px;right:10px;background:transparent;border:0;font-size:50px;line-height:32px;}
@media(min-width:1299px){header a.nav-link{font-size:17px !important;}
}
.profile-section .content-box{background:#f6b746 !important;box-shadow:none !important;}
.accordion-body{padding:0;padding-top:10px;}
.expertise-section .accordion-item .accordion-button{box-shadow:none !important;}
.quantity{display:flex;align-items:center;justify-content:center;border:1px solid #d7dbe2;border-radius:70px;padding:5px;}
.quantity__minus1,.quantity__plus1,.quantity__minus,.quantity__plus{margin:0;text-decoration:none;text-align:center;line-height:23px;background:linear-gradient(93.12deg,#F9508B 0%,#D91359 100%);border-radius:50px !important;display:flex;flex-direction:column;justify-content:center;align-items:center;padding:7px 21px;gap:5px;width:54px;height:29px;font-size:23px;}
.quantity__minus:hover,.quantity__plus:hover,.quantity__minus1:hover,.quantity__plus1:hover{background:#575b71;color:#fff;}
.quantity__minus,.quantity__minus1{border-radius:3px 0 0 3px;}
.quantity__plus,.quantity__plus1{border-radius:0 3px 3px 0;}
.quantity__input,.quantity__input1{width:42px;height:29px;margin:0;padding:0;text-align:center;border-top:2px solid #dee0ee;color:#181818;border:0;background:transparent;font-weight:500;font-size:18px;}
.quantity__minus1:link,.quantity__plus1:link,.quantity__minus:link,.quantity__plus:link{color:#8184a1;}
.quantity__minus1:visited,.quantity__plus1:visited,.quantity__minus:visited,.quantity__plus:visited{color:#fff;}
.calculate-sec lable{color:#000;font-size:17px;font-weight:600;text-align:center;display:block;padding:10px;}
.calculate-sec{background:linear-gradient(180deg,#FFFFFF 0%,#FFFFFF 100%);box-shadow:8px 8px 20px rgba(29,29,29,0.2);border-radius:10px;padding:50px;max-width:900px;margin:auto;}
.expertise-section .row.fee-row{width:100%;max-width:80%;margin:auto;}
.fee-head p{font-size:17px;font-weight:500;}
.fee-calbtn{margin-top:-50px !important;}
/* changes css */
/*.migrate-section h2{line-height:48px;}
*/
